export nnUNet_raw_data_base="/home/$USER/disk0/Sync/KiPA22/nnUNet_raw"
export nnUNet_preprocessed="/home/$USER/disk0/Sync/KiPA22/nnUNet_preprocessed"
export RESULTS_FOLDER="/home/$USER/disk0/Sync/KiPA22/nnUNet_trained_models"
